;; This buffer is for text that is not saved, and for Lisp evaluation.
;; To create a file, visit it with C-x C-f and enter text in its buffer.

EnableImportLogging	FALSE
DeleteAdditionalDataDuringSupplierImport x	TRUE
CatalogIndexUpdatedTimeStamp	2016-06-29T11:55:31
EnableAdvancedPermissionImportHistoryGeneration	FALSE
GoodReceiptRequired	TRUE
ClosePOwithNoGrRequiredInDays	14
OrderDataExportEnabled	FALSE
AnyERPFileServer	p2p.bwcad.net
AnyERPLegacyVariables	TRUE
ClosePOwithGrRequiredInDays	14
Edge.Invoice.SecurityValidationDisabled	FALSE
BaswareUsersExcluded	TRUE
AlustaTargetBasePath	/P2PPortal/Default.aspx?#
CustomFieldKey	BuyerProductCode
EnableEdgeClient	TRUE
AllowEHFOrdering	FALSE
MatchingLoggingEnabled	FALSE
AllowUserGroupMembershipFromAllOrganizations	FALSE
Basware.Network.Integration.Enabled	N/A
GoodsReceiptDataExportEnabled	FALSE
VerianIntegrationRedirection	N/A
VerianIntegrationEdgeLandingPage	N/A
VerianIntegrationVerianLandingPage	N/A
OpenApi.IntegrationServiceEnabled	FALSE
OrderPDFDateFormat	DateTime
ValidateSupplierIdentifierUniqueness	TRUE
AsyncValidationRowLimit	50
ManualBudgetEnabled	FALSE
StandardCoding	TRUE
ReleaseNotesUrl	N/A
AdvancedPermissionsExcludeValues	FALSE
LoggingLoginReasonForBaswareAndPartnerUsers	FALSE
SumBasedSubsequentInvoiceMatching	FALSE
MatchingWithGRUnitprice	TRUE
OMBypassOrderNumberUpdate	FALSE
MaxInvoiceLimitForSmartCoding	100
SmartCoding	TRUE
OnlySSOLogin	FALSE
PerformanceLoggingEnabled	FALSE
PerformanceLogFilePath	default
PerformanceLogFileSize	20000000
PerformanceLoggingTargets	DebugView
PerformanceLoggingUserFilter	all
PerformanceLoggingUIEnabled	FALSE
LocalizationsUpdated	2019-04-15T18:24:28
ProcessEngineMigrated	FALSE
PerformanceLoggingDatabaseEnabled	FALSE
PresimulateMigrated	FALSE
MatchingBigData	FALSE
Basware.Network.Integration.AnyERP.Enrich.Enabled	FALSE
TEM.Url	N/A
SupplierImportSanityCheck	1000
InvoiceEmailTokenPeriod	30
ImageViewerAuthorization	TOKENBASED
CodingMatrixEnabled	FALSE
ExpressCheckoutEnabled	TRUE
EditRequisitionShortcutEnabled	Edge
S3Settings	{"Region":"eu-west-1"
OpenApi.EnableIsActiveFilter	FALSE
AutomaticCodingUseSupplierSorting	FALSE
SessionExpiration	N/A
EnableUserBasedSessionExpiration	FALSE
MaxCodingRowLimitForRegularDocument	800
SearchInvoicesOnNavigation	TRUE
TEM.EdgeURL	N/A
OpenApi.InvoiceTransferEnabled	FALSE
AutomaticallyLoadRowApproveRecipients	TRUE
EnableOrgSpecificEntities	FALSE
EnablePagingForAdvancedUserPermissionPicker	FALSE
WaitNextMatchingExecutionWhenNewGRArrives	FALSE
ManualActivationBaswareUsers	FALSE
MatchingImportLocking	TRUE
InvoiceEmailApprovalInUse	FALSE
InvoiceEmailApprovalTokenPeriod	8
MatchingCalculateOrderAsynchronously	FALSE
BCS.BaseAddress	N/A
EdgeAutoFillCodingSum	TRUE
OpenApi.RootUrl	N/A
OpenApi.StageName	N/A
LimitedFiltersInMatchingGRSearch	TRUE
